@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif; 
    --fonte2: "Passion One", serif;
    --fonte3: "Sriracha", serif;

}
pre {
    white-space: pre-line;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 2em;

}

* {
    margin: 0px;
    padding: 0px;
    

}

header {
    background-color: black;
    color: white;
    text-align: center;

}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 8vw;

}
header > p {
    padding-bottom: 50px;

}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);


}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 35px;
    font-family: var(--fonte3);

}
section.normal {
    background-color: white;
    color: black;

}
section.imagem {
    background-color: rgb(69, 68, 68);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.503);
    background-attachment: fixed;

}
section.imagem  p {
    background-color: rgba(0, 0, 0, 0.519);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;



}
section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;

}
section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}

section > p {
    padding-bottom: 2em;
}
section pre p {
    padding-bottom: 2em;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: var(--fonte1);

}